<% @user_posts.each do |post| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td>
	Created by <%=@user['email'].split('@')[0]%>	
	</td>
	<td class="list_description">
	<dl>
	<dt><%= post.title %></dt>
	<dd><%= truncate(strip_tags(post.content),
	length: 80) %></dd>
<%end%>