
<div class="overlay js-overlay-campaign">
	
		<div class="popup js-popup-campaign">


			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			<div id="text"><h2>Choose your theme</h2></div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="theme-dark">DARK</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="theme-white">WHITE</div>
				</div>
			</div>
			
			
		</div>
	</div>
