
<div class="overlay js-overlay-campaign">
	
		<div class="popup js-popup-campaign">


			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			<div id="text"><h2>Choose your theme</h2></div>
			<div class="row">
				<div class="col-lg-6col-md-6 col-sm-6">
				<div class="theme-dark"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="theme-white"></div>
				</div>
			</div>
			
			
		</div>
	</div>
