
 <table>
	<% @posts.each do |post| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td>
		<%= @users[post.user_id]['email'].split('@')[0]%>
		
	</td>
	<td class="list_description">
	<dl>
	<dt><%= post.title %></dt>
	<hr>
	<dd><%= truncate(strip_tags(post.content),
	length: 80) %></dd>
</dl>
</td>
<% end %>
