
<div class="row">
	<% @posts.each do |post| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3><%=link_to post.title,post_path(post) %></h3>
        <h6>username:<%= @users.detect {|f| f["id"] == post.user_id }['email'].split('@')[0]%></h6>
        <p><%= truncate(strip_tags(post.content),
	length:200) %></p>
        <p><%=link_to 'Read',post_path(post), class: "btn btn-primary", role: "button"%></p>
      </div>
    </div>
  </div>
  <%end%>
</div>