<div class="reg_log">
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="new_post">

<li>
	<h3>Results for searching <em><%= params[:term]%></em></h3>
  <% @posts.each do |post| %> 
  <% if post.respond_to?(:pg_search_highlight) %>
  	

    <%= post.pg_search_highlight.html_safe %>
    <%= link_to post.title,  post_path(post) %>
    <hr>
  <% else %>
    

     <%= post.content %>
     <hr>
  <% end %>
  <% end %>
</li>
</div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
    </div>
</div>
</div>
</div>
